<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BeerToBeer{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets 'bundles/beertobeercore/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {#{% javascripts
                '@BeerToBeerCoreBundle/Resources/public/js/libs/jquery-2.1.1.min.js'
                '@BeerToBeerCoreBundle/Resources/public/js/libs/underscore-min.js'
                '@BeerToBeerCoreBundle/Resources/public/js/libs/backbone-min.js'
                '@BeerToBeerCoreBundle/Resources/public/js/models/*'
                '@BeerToBeerCoreBundle/Resources/public/js/collections/*'
                '@BeerToBeerCoreBundle/Resources/public/js/routers/*'
                '@BeerToBeerCoreBundle/Resources/public/js/views/*'
                '@BeerToBeerCoreBundle/Resources/public/js/*'
                 %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}#}
            <script src="{{ asset('bundles/beertobeercore/js/libs/jquery-2.1.1.min.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/libs/underscore.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/libs/backbone.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/libs/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/libs/jquery.waypoints.min.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/libs/backbone.autocomplete.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/models/beer.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/collections/beers.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/models/business.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/collections/businesses.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/views/business.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/views/businesses.js') }}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8f7_iudMUZO6Mrbf8Rywz2QuIm3kgUgM&amp;sensor=false&amp;libraries=places"></script>
            <script src="{{ asset('bundles/beertobeercore/js/libs/jquery.geocomplete.min.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/app.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/routers/router.js') }}"></script>
        {% endblock %}
    </body>
</html>
