<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BeerToBeer{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{{ asset("favicons/favicon.ico") }}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset("favicons/apple-touch-icon-57x57.png") }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset("favicons/apple-touch-icon-114x114.png") }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset("favicons/apple-touch-icon-72x72.png") }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset("favicons/apple-touch-icon-144x144.png") }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset("favicons/apple-touch-icon-60x60.png") }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset("favicons/apple-touch-icon-120x120.png") }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset("favicons/apple-touch-icon-76x76.png") }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset("favicons/apple-touch-icon-152x152.png") }}">
        <link rel="icon" type="image/png" href="{{ asset("favicons/favicon-196x196.png") }}" sizes="196x196">
        <link rel="icon" type="image/png" href="{{ asset("favicons/favicon-160x160.png") }}" sizes="160x160">
        <link rel="icon" type="image/png" href="{{ asset("favicons/favicon-96x96.png") }}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ asset("favicons/favicon-16x16.png") }}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ asset("favicons/favicon-32x32.png") }}" sizes="32x32">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset("favicons/mstile-144x144.png") }}">
        <meta name="msapplication-config" content="{{ asset("favicons/browserconfig.xml") }}">
        {% block stylesheets %}
            {% stylesheets 'bundles/beertobeercore/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {#{% javascripts
                '@BeerToBeerCoreBundle/Resources/public/js/libs/jquery-2.1.1.min.js'
                '@BeerToBeerCoreBundle/Resources/public/js/libs/underscore-min.js'
                '@BeerToBeerCoreBundle/Resources/public/js/libs/backbone-min.js'
                '@BeerToBeerCoreBundle/Resources/public/js/models/*'
                '@BeerToBeerCoreBundle/Resources/public/js/collections/*'
                '@BeerToBeerCoreBundle/Resources/public/js/routers/*'
                '@BeerToBeerCoreBundle/Resources/public/js/views/*'
                '@BeerToBeerCoreBundle/Resources/public/js/*'
                 %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}#}
            <script src="{{ asset('bundles/beertobeercore/js/libs/jquery-2.1.1.min.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/libs/underscore.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/libs/backbone.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/libs/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/libs/jquery.waypoints.min.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/libs/backbone.autocomplete.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/models/beer.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/collections/beers.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/models/business.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/collections/businesses.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/views/business.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/views/businesses.js') }}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8f7_iudMUZO6Mrbf8Rywz2QuIm3kgUgM&amp;sensor=false&amp;libraries=places"></script>
            <script src="{{ asset('bundles/beertobeercore/js/libs/jquery.geocomplete.min.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/app.js') }}"></script>
            <script src="{{ asset('bundles/beertobeercore/js/routers/router.js') }}"></script>
            <!-- GOOGLE ANALYTICS -->
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-49060502-2', 'auto');
              ga('send', 'pageview');

            </script>
        {% endblock %}
    </body>
</html>
